<%= render @game %>
<% unless @player.nil? %>
  <h2><%= @player.full_name %></h2>
<% end %>
<% unless @game_events.nil? %>
  <h3>Events</h3>
  <%= render @game_events.sort_by { |ge| ge.timestamp } %>
<% end %>
